:root {
  --blue: #0d6dcd;
  --indigo: #48206c;
  --purple: #51247a;
  --pink: #962a8b;
  --red: #e62645;
  --orange: #eb602b;
  --yellow: #fbb800;
  --green: #2ea836;
  --cyan: #00a2c7;
  --teal: #00a2c7;
  --white: #fff;
  --gray: #999490;
  --gray-dark: #333245;
  --primary: #51247a;
  --secondary: #962a8b;
  --success: #2ea836;
  --info: #bb9d65;
  --warning: #eb602b;
  --danger: #e62645;
  --light: #d7d1cc;
  --dark: #999490;
  --breakpoint-xs: 0;
  --breakpoint-sm: 676px;
  --breakpoint-md: 850px;
  --breakpoint-lg: 1460px;
  --breakpoint-xl: 1500px;
}


html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--primary);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:focus,
textarea:focus {
  outline: none !important;
  border-color: var(--light);
  box-shadow: 0 0 5px var(--light);
}

.content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  background: var(--white);
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 70em;
  min-width: 40em;
  min-height: 40em;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  box-shadow: 0px 0px 15px 0px rgb(21, 21, 21);
  overflow: hidden;
}

.reset-form-container {
  max-width: 26em;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 55em;
  width: 100%;
  height: 100%;
}

.form-inner-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.back-btn {
  background: transparent;
  border: none;
  font-size: inherit;
  position: absolute;
  right: 2em;
  top: 2em;
  color: var(--gray-dark);
  font-weight: 700;
  cursor: pointer;
}

.form-title-logo {
  margin-top: 1em;
  background-image: url(../images/logo.svg);
  background-position: center;
  width: 18em;
  background-size: contain;
  height: 4em;
  background-repeat: no-repeat;
  max-width: 18em;
}

.form-reset-title {
  font-size: 1.2em;
  margin-top: 1.5em;
  color: var(--gray-dark);
}

.form-reset-description {
  margin: 1em 3em;
  text-align: center;
  color: var(--gray);
  font-size: 0.9em;
}

.form-label {
  display: none;
}

.form-title {
  font-weight: 600;
  text-align: center;
  color: var(--gray-dark);
}

.form-title-subtext {
  font-weight: 300;
  margin: 1em 4em;
  text-align: center;
  color: var(--gray-dark);
  font-size: 0.9em;
}

.form-control {
  width: 325px;
  max-width: 325px;
  height: 2.5em;
  padding: 0 1em;
  border: none;
  background: var(--light);
  border-radius: 0.25em;
  margin: 1em 1em 0;
  font-size: 1em;
  font-weight: 200;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--purple);
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--purple);
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--purple);
}
:-moz-placeholder {
  /* Firefox 18- */
  color: var(--purple);
}

.form-options {
  display: flex;
  width: 355px;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
}

.form-forgot-password {
  color: var(--yellow);
  font-size: 0.9em;
}

button,
.button,
.social-link-style {
  height: 2.5em;
  border: none;
  color: var(--white);
  background-color: var(--primary);
  width: 355px;
  max-width: 355px;
  font-size: 1em;
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  cursor: pointer;
  font-weight: 800;
  margin-bottom: 1em;
  margin-top: 1em;
  padding: .625rem 1.5rem;
  line-height: 1.5;
}

button:disabled,
.button.disabled {
  background-color: var(--gray);
  pointer-events: none;
}

.button-reset {
  margin-top: 1.5em;
  width: 100px;
}

.button-update-password {
  margin-top: 1.5em;
}

.disclaimer {
  font-size: 0.8em;
  margin-top: 3em;
  color: var(--gray);
  text-align: center;
  line-height: 1.5;
}

.disclaimer-link {
  color: var(--gray);
  font-weight: 800;
}

.disclaimer-link:hover {
  color: var(--primary);
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.message-text {
  display: none;
}

.message-container {
  background-color: var(--white);
  width: 325px;
  text-align: center;
  padding: 0.5em 1em;
  color: var(--green);
  border-radius: 0.25rem;
  margin: 1em 0 0;
  display: none;
}

.message-container.error {
  background-color: var(--white);
  color: var(--error);
}

.message-container.warning {
  background-color: var(--white);
  color: var(--warning);
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 0.9em;
  color: var(--gray);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: transparent;
  border-radius: 0.15rem;
  border: 1px solid var(--gray);
  transition: background 200ms ease;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: var(--light);
}

.checkbox-container input:checked ~ .checkmark {
  background-color: var(--gray);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 5px;
  top: 0px;
  width: 3px;
  height: 9px;
  border: solid var(--white);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (max-width: 900px) {
  .login-landing-img,
  .login-reset-img {
    display: none;
  }

  .form-container {
    max-width: 30em;
  }

  .form-inner-content {
    padding: 3em 1em;
  }
}

.instruction {
  font-size: 0.9em;
  color: var(--gray-dark);
  margin: 1em 3em;
  text-align: center;
}

.instruction-link {
  color: var(--gold);
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button:active, .button:active, .collapsible:hover, button:hover, .button:hover {
  background-color: var(--secondary);
}

/* Style the collapsible content. Note: hidden by default */
.collapsible-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center
}

h2 {
  font-weight: 500;
  line-height: 1.2;
  color: var(--primary);
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}